full_experimentation/Fine-tuning/generate_nominal_responses.py
baseline_experimentation/
.vscode/
full_experimentation/GPT4V-zero-shot/
params/
yolo_detection_annotations.npy
llm_responses.npz
llm_data.npz
*yaml.mp4
vehicle_data.npz
gpt4v_newFormat_tokenLimit.npz
gpt4v_responses.npz
generate_anomaly_responses.py
